<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>JOANNA - Admin Gallery</title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="admin-css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="admin-css/animation.css">
    <link rel="stylesheet" type="text/css" href="admin-css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="admin-css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="admin-css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- Font -->
    <link rel="stylesheet" href="admin-font/fonts.css">

    <!-- Icon -->
    <link rel="stylesheet" href="admin-icon/style.css">

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="/images/joannalogo.png">
    <link rel="apple-touch-icon-precomposed" href="/images/joannalogo.png">
    <style>
        .modal {
            display: none;
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.5);
        }
        
        .modal-content {
            background-color: #fff;
            margin: 10% auto;
            padding: 20px;
            border-radius: 8px;
            width: 500px;
            max-width: 90%;
        }
        
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
        }
        
        .close:hover {
            color: #000;
        }
        
        .form-group {
            margin-bottom: 15px;
        }
        
        .form-group label {
            display: block;
            margin-bottom: 5px;
            font-weight: 500;
        }
        
        .form-group input, 
        .form-group select {
            width: 100%;
            padding: 8px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }
        
        /* Icons styling */
        .icon-edit,
        .icon-trash-2 {
            vertical-align: middle;
            margin-right: 5px;
        }
        
        /* Image dimensions */
        .wg-table .w-40 img {
            width: 160px;
            height: 120px;
            object-fit: cover;
            border-radius: 4px;
        }
        
        #currentImagePreview img {
            width: 100%;
            height: 200px;
            object-fit: contain;
            border: 1px solid #eee;
            border-radius: 4px;
        }
        </style>
</head>

<body class="body">

    <!-- #wrapper -->
    <div id="wrapper">
        <!-- #page -->
        <div id="page" class="">
            <!-- layout-wrap -->
            <div class="layout-wrap loader-off">
                <!-- preload -->
                <div id="preload" class="preload-container">
                    <div class="preloading">
                        <span></span>
                    </div>
                </div>
                <!-- /preload -->
                <!-- section-menu-left -->
                <div class="section-menu-left">
                    <div class="box-logo">
                        <a href="/dashboard" id="site-logo-inner">
                            <img style="width:60px;" id="logo_header" alt="logo" src="/images/joannalogo.png"
                                data-light="/images/joannalogo.png" data-dark="/images/joannalogo.png">
                        </a>
                        <div class="button-show-hide">
                            <i class="icon-chevron-left"></i>
                        </div>
                    </div>
                    <div class="section-menu-left-wrap">
                        <div class="center">
                            <div class="center-item">
                                <ul>
                                    <li class="menu-item">
                                        <a href="/dashboard">
                                            <div class="icon">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M12.2652 3.57566C12.1187 3.42921 11.8813 3.42921 11.7348 3.57566L5.25 10.0605V19.8748C5.25 20.0819 5.41789 20.2498 5.625 20.2498H9V16.1248C9 15.0893 9.83947 14.2498 10.875 14.2498H13.125C14.1605 14.2498 15 15.0893 15 16.1248V20.2498H18.375C18.5821 20.2498 18.75 20.0819 18.75 19.8748V10.0605L12.2652 3.57566ZM20.25 11.5605L21.2197 12.5302C21.5126 12.8231 21.9874 12.8231 22.2803 12.5302C22.5732 12.2373 22.5732 11.7624 22.2803 11.4695L13.3258 2.51499C12.5936 1.78276 11.4064 1.78276 10.6742 2.515L1.71967 11.4695C1.42678 11.7624 1.42678 12.2373 1.71967 12.5302C2.01256 12.8231 2.48744 12.8231 2.78033 12.5302L3.75 11.5605V19.8748C3.75 20.9104 4.58947 21.7498 5.625 21.7498H18.375C19.4105 21.7498 20.25 20.9104 20.25 19.8748V11.5605ZM13.5 20.2498H10.5V16.1248C10.5 15.9177 10.6679 15.7498 10.875 15.7498H13.125C13.3321 15.7498 13.5 15.9177 13.5 16.1248V20.2498Z"
                                                        fill="#111111" />
                                                </svg>
                                            </div>
                                            <div class="text">Admin Dashboard</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/admin-packages" class="menu-item-button">
                                            <div class="icon"><i class="icon-file-plus"></i></div>
                                            <div class="text">Package Management</div>
                                        </a>
                                    
                                    </li>
                                    <li class="menu-item">
                                        <a href="/admin-category" class="menu-item-button">
                                            <div class="icon"><i class="icon-layers"></i></div>
                                            <div class="text">Category Management</div>
                                        </a>
                                    
                                    </li>
                                    <li class="menu-item">
                                        <a href="/admin-banner" class="menu-item-button">
                                            <div class="icon">
                                                <svg width="24" height="22" viewBox="0 0 22 18" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M0.5 1.875C0.5 0.839466 1.33947 0 2.375 0H19.625C20.6605 0 21.5 0.839466 21.5 1.875V3.375C21.5 4.29657 20.8351 5.06285 19.9589 5.22035L19.3733 15.1762C19.28 16.7619 17.9669 18 16.3785 18H5.62154C4.03311 18 2.71999 16.7619 2.62671 15.1762L2.04108 5.22035C1.16485 5.06285 0.5 4.29657 0.5 3.375V1.875ZM2.75659 3.75C2.75266 3.74997 2.74873 3.74997 2.74479 3.75H2.375C2.16789 3.75 2 3.58211 2 3.375V1.875C2 1.66789 2.16789 1.5 2.375 1.5H19.625C19.8321 1.5 20 1.66789 20 1.875V3.375C20 3.58211 19.8321 3.75 19.625 3.75H19.2552C19.2513 3.74997 19.2473 3.74997 19.2434 3.75H2.75659ZM3.54541 5.25L4.12412 15.0881C4.17076 15.8809 4.82732 16.5 5.62154 16.5H16.3785C17.1727 16.5 17.8292 15.8809 17.8759 15.0881L18.4546 5.25H3.54541ZM8.24976 8.25C8.24976 7.83579 8.58554 7.5 8.99976 7.5H12.9998C13.414 7.5 13.7498 7.83579 13.7498 8.25C13.7498 8.66421 13.414 9 12.9998 9H8.99976C8.58554 9 8.24976 8.66421 8.24976 8.25Z"
                                                        fill="#111111" />
                                                </svg>
                                            </div>
                                            <div class="text">Banner Management</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/admin-testimonials" class="menu-item-button">
                                            <div class="icon"><i class="fa fa-star-o"></i></div>
                                            <div class="text">Testimonials Management</div>
                                        </a>
                                    </li>
                                    <li class="menu-item active">
                                        <a href="/admin-gallery" class="menu-item-button">
                                            <div class="icon"><i class="icon-image"></i></div>
                                            <div class="text">Gallery Management</div>
                                        </a>
                                    
                                    </li>
                                    <li class="menu-item">
                                        <a href="/admin-blogs" class="menu-item-button">
                                            <div class="icon"><i class="icon-book-open"></i></div>
                                            <div class="text">Blogs Management</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/logout">
                                            <div class="icon">
                                                <svg width="24" height="22" viewBox="0 0 20 20" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M8.125 18.6875C8.125 18.903 8.0394 19.1097 7.88702 19.262C7.73465 19.4144 7.52799 19.5 7.3125 19.5H1.625C1.19402 19.5 0.780698 19.3288 0.475951 19.024C0.171205 18.7193 0 18.306 0 17.875V1.625C0 1.19402 0.171205 0.780698 0.475951 0.475951C0.780698 0.171205 1.19402 0 1.625 0H7.3125C7.52799 0 7.73465 0.0856026 7.88702 0.237976C8.0394 0.390349 8.125 0.597012 8.125 0.8125C8.125 1.02799 8.0394 1.23465 7.88702 1.38702C7.73465 1.5394 7.52799 1.625 7.3125 1.625H1.625V17.875H7.3125C7.52799 17.875 7.73465 17.9606 7.88702 18.113C8.0394 18.2653 8.125 18.472 8.125 18.6875ZM19.2623 9.17516L15.1998 5.11266C15.0474 4.9602 14.8406 4.87455 14.625 4.87455C14.4094 4.87455 14.2026 4.9602 14.0502 5.11266C13.8977 5.26511 13.812 5.47189 13.812 5.6875C13.812 5.90311 13.8977 6.10989 14.0502 6.26234L16.7263 8.9375H7.3125C7.09701 8.9375 6.89035 9.0231 6.73798 9.17548C6.5856 9.32785 6.5 9.53451 6.5 9.75C6.5 9.96549 6.5856 10.1722 6.73798 10.3245C6.89035 10.4769 7.09701 10.5625 7.3125 10.5625H16.7263L14.0502 13.2377C13.8977 13.3901 13.812 13.5969 13.812 13.8125C13.812 14.0281 13.8977 14.2349 14.0502 14.3873C14.2026 14.5398 14.4094 14.6255 14.625 14.6255C14.8406 14.6255 15.0474 14.5398 15.1998 14.3873L19.2623 10.3248C19.3379 10.2494 19.3978 10.1598 19.4387 10.0611C19.4796 9.9625 19.5006 9.85678 19.5006 9.75C19.5006 9.64322 19.4796 9.5375 19.4387 9.43886C19.3978 9.34023 19.3379 9.25062 19.2623 9.17516Z"
                                                        fill="#111111" />
                                                </svg>
                                            </div>
                                            <div class="text">Log out</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /section-menu-left -->
                <!-- section-content-right -->
                <div class="section-content-right">
                    <!-- header-dashboard -->
                    <div class="header-dashboard">
                        <div class="wrap">
                            <div class="header-left">
                                <a href="/dashboard">
                                    <img style="width: 50px;" id="logo_header_mobile" alt=""
                                        src="/images/joannalogo.png" data-light="/images/joannalogo.png"
                                        data-dark="/images/joannalogo.png">
                                </a>
                                <div class="button-show-hide">
                                    <i class="icon-chevron-left"></i>
                                </div>
                            </div>
                            <div class="header-grid">
                                <div class="header-item button-dark-light">
                                    <i class="icon-moon"></i>
                                </div>


                                <div class="header-item button-zoom-maximize">
                                    <div class="">
                                        <i class="icon-maximize"></i>
                                    </div>
                                </div>
                                <div class="popup-wrap user type-header">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                            id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="header-user wg-user">
                                                <span class="image">
                                                    <img src="admin-images/avatar/user-1.png" alt="">
                                                </span>
                                                <span class="flex flex-column">
                                                    <span class="body-text text-main-dark">JOANNA</span>
                                                    <span class="text-tiny">Admin</span>
                                                </span>
                                            </span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end has-content"
                                            aria-labelledby="dropdownMenuButton3">

                                            <li>
                                                <a href="#" class="user-item">
                                                    <div class="icon">
                                                        <i class="icon-headphones"></i>
                                                    </div>
                                                    <div class="body-title-2">Support</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/logout" class="user-item">
                                                    <div class="icon">
                                                        <i class="icon-log-out"></i>
                                                    </div>
                                                    <div class="body-title-2">Log out</div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /header-dashboard -->
                    <!-- main-content -->
                    <div class="main-content">
                        <div class="main-content-inner">
                            <div class="main-content-wrap">
                                <div class="flex items-center flex-wrap justify-between gap20 mb-30">
                                    <h3>Gallery Management</h3>
                                    <ul class="breadcrumbs flex items-center flex-wrap justify-start gap10">
                                        <li>
                                            <a href="/dashboard">
                                                <div class="text-tiny">Dashboard</div>
                                            </a>
                                        </li>
                                        <li>
                                            <i class="icon-chevron-right"></i>
                                        </li>
                                        <li>
                                            <div class="text-tiny">Gallery</div>
                                        </li>
                                    </ul>
                                </div>

                                <!-- Tabs for Gallery and Videos -->
                                <div class="wg-box">
                                    <div class="flex items-center justify-between gap10 flex-wrap mb-3">
                                        <ul class="nav nav-tabs" id="galleryVideoTabs" style="border-bottom: 1px solid #eee;">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="gallery-tab" href="#" onclick="showTab('gallery')">Images</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="video-tab" href="#" onclick="showTab('video')">YouTube Videos</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Gallery Tab Content -->
                                    <div id="galleryTabContent">
                                        <div class="flex items-center justify-between gap10 flex-wrap">
                                            <div class="flex gap10">
                                                <a class="tf-button style-1 w208" href="#" onclick="showAddGalleryModal()">
                                                    <i class="icon-plus"></i>Add Image
                                                </a>
                                            </div>
                                        </div>
                                        <div class="gallery-cards" id="gallery-list">
                                            <!-- Gallery items will be injected here dynamically -->
                                        </div>
                                        <div class="divider"></div>
                                    </div>
                                    <!-- Video Tab Content -->
                                    <div id="videoTabContent" style="display:none;">
                                        <div class="flex items-center justify-between gap10 flex-wrap">
                                            <div class="flex gap10">
                                                <a class="tf-button style-1 w208" href="#" onclick="showAddVideoModal()">
                                                    <i class="icon-plus"></i>Add Video
                                                </a>
                                            </div>
                                        </div>
                                        <div class="gallery-cards" id="video-list">
                                            <!-- Video items will be injected here dynamically -->
                                        </div>
                                        <div class="divider"></div>
                                    </div>
                                </div>

                                <!-- Add Gallery Modal -->
                                <div id="addGalleryModal" class="modal">
                                    <div class="modal-content">
                                        <span class="close" onclick="closeModal('addGalleryModal')">&times;</span>
                                        <h4>Add New Gallery Item</h4>
                                        <form id="addGalleryForm" enctype="multipart/form-data">
                                            <div class="form-group">
                                                <label for="galleryTitle">Title</label>
                                                <input type="text" id="galleryTitle" name="title" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="galleryImage">Image</label>
                                                <input type="file" id="galleryImage" name="image" accept="image/*" required>
                                                <div class="text-tiny text-gray-500 mt-1">Only JPEG, JPG, PNG, WEBP allowed (Max 5MB)</div>
                                            </div>
                                            <button type="submit" class="tf-button style-1">Upload</button>
                                        </form>
                                    </div>
                                </div>

                                <!-- Add Video Modal -->
                                <div id="addVideoModal" class="modal">
                                    <div class="modal-content">
                                        <span class="close" onclick="closeModal('addVideoModal')">&times;</span>
                                        <h4>Add New YouTube Video</h4>
                                        <form id="addVideoForm">
                                            <div class="form-group">
                                                <label for="videoTitle">Title</label>
                                                <input type="text" id="videoTitle" name="title" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="youtubeLink">YouTube Link</label>
                                                <input type="url" id="youtubeLink" name="youtubeLink" required placeholder="https://www.youtube.com/watch?v=...">
                                            </div>
                                            <button type="submit" class="tf-button style-1">Add Video</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- bottom-page -->
                        <div class="bottom-page">
                            <div class="body-text">Copyright © 2025 <a href="">Joanna</a>. Design by Harsh Creators All rights reserved</div>
                        </div>
                    </div>

                    <script>
                    // Global variables
                    let galleryItems = [];
                    let videoItems = [];

                    // DOM Ready
                    document.addEventListener('DOMContentLoaded', function() {
                        fetchGalleryItems();
                        fetchVideoItems();
                        setupFormHandlers();
                        setupTabs();
                    });

                    // Tabs logic
                    function showTab(tab) {
                        document.getElementById('galleryTabContent').style.display = tab === 'gallery' ? '' : 'none';
                        document.getElementById('videoTabContent').style.display = tab === 'video' ? '' : 'none';
                        document.getElementById('gallery-tab').classList.toggle('active', tab === 'gallery');
                        document.getElementById('video-tab').classList.toggle('active', tab === 'video');
                    }
                    function setupTabs() {
                        showTab('gallery');
                    }

                    // Fetch all gallery items
                    async function fetchGalleryItems() {
                        try {
                            const response = await fetch('/list-gallery', {
                                headers: {
                                    'Authorization': `Bearer ${localStorage.getItem('token')}`
                                }
                            });
                            if (!response.ok) throw new Error('Failed to fetch gallery items');
                            galleryItems = await response.json();
                            renderGalleryItems();
                        } catch (error) {
                            console.error('Error:', error);
                            alert('Error loading gallery items');
                        }
                    }

                    // Fetch all video items
                    async function fetchVideoItems() {
                        try {
                            const response = await fetch('/videos', {
                                headers: {
                                    'Authorization': `Bearer ${localStorage.getItem('token')}`
                                }
                            });
                            if (!response.ok) throw new Error('Failed to fetch videos');
                            videoItems = await response.json();
                            renderVideoItems();
                        } catch (error) {
                            console.error('Error:', error);
                            alert('Error loading videos');
                        }
                    }

                    // Render gallery items
                    function renderGalleryItems() {
                        const galleryList = document.getElementById('gallery-list');
                        galleryList.innerHTML = '';
                        galleryList.style = 'display: grid; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); gap: 20px;';
                        galleryItems.forEach(item => {
                            const galleryCard = document.createElement('div');
                            galleryCard.style = 'border: 1px solid #ccc; border-radius: 8px; overflow: hidden; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);';
                            galleryCard.innerHTML = `
                                <div style="width: 100%; height: 150px; overflow: hidden;">
                                    <img src="${item.imageUrl}" alt="${item.title}" style="width: 100%; height: 100%; object-fit: cover;">
                                </div>
                                <div style="padding: 10px; text-align: center;">
                                    <div style="font-weight: bold; margin-bottom: 10px;">${item.title}</div>
                                    <div style="display: flex; justify-content: space-around;">
                                        <button class="tf-button style-3" onclick="confirmDeleteGalleryItem('${item._id}')" style="font-size: 14px;">
                                            <i class="icon-trash-2"></i> Delete
                                        </button>
                                    </div>
                                </div>
                            `;
                            galleryList.appendChild(galleryCard);
                        });
                    }

                    // Render video items
                    function renderVideoItems() {
                        const videoList = document.getElementById('video-list');
                        videoList.innerHTML = '';
                        videoList.style = 'display: grid; grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); gap: 20px;';
                        videoItems.forEach(item => {
                            const videoCard = document.createElement('div');
                            videoCard.style = 'border: 1px solid #ccc; border-radius: 8px; overflow: hidden; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); background: #fff;';
                            videoCard.innerHTML = `
                                <div style="width: 100%; height: 180px; overflow: hidden; display: flex; align-items: center; justify-content: center;">
                                    ${getYouTubeEmbed(item.youtubeLink)}
                                </div>
                                <div style="padding: 10px; text-align: center;">
                                    <div style="font-weight: bold; margin-bottom: 10px;">${item.title || ''}</div>
                                    <div style="display: flex; justify-content: center;">
                                        <button class="tf-button style-3" onclick="confirmDeleteVideoItem('${item._id}')" style="font-size: 14px;">
                                            <i class="icon-trash-2"></i> Delete
                                        </button>
                                    </div>
                                </div>
                            `;
                            videoList.appendChild(videoCard);
                        });
                    }

                    // Helper to get YouTube embed iframe
                    function getYouTubeEmbed(link) {
                        if (!link) return '';
                        let videoId = '';
                        try {
                            // Try to extract video ID from various YouTube URL formats
                            const url = new URL(link);
                            if (url.hostname === 'youtu.be') {
                                videoId = url.pathname.slice(1);
                            } else if (url.hostname.includes('youtube.com')) {
                                videoId = url.searchParams.get('v');
                            }
                        } catch (e) {
                            // fallback: try regex
                            const match = link.match(/(?:youtu\.be\/|youtube\.com\/(?:watch\?v=|embed\/|v\/))([\w-]{11})/);
                            if (match) videoId = match[1];
                        }
                        if (!videoId) return '<div class="text-tiny text-danger">Invalid YouTube Link</div>';
                        return `<iframe width="100%" height="170" src="https://www.youtube.com/embed/${videoId}" frameborder="0" allowfullscreen></iframe>`;
                    }

                    // Show Add Gallery Modal
                    function showAddGalleryModal() {
                        document.getElementById('addGalleryForm').reset();
                        document.getElementById('addGalleryModal').style.display = 'block';
                    }

                    // Show Add Video Modal
                    function showAddVideoModal() {
                        document.getElementById('addVideoForm').reset();
                        document.getElementById('addVideoModal').style.display = 'block';
                    }

                    // Close any modal
                    function closeModal(modalId) {
                        document.getElementById(modalId).style.display = 'none';
                    }

                    // Setup form handlers
                    function setupFormHandlers() {
                        // Add Gallery Form
                        document.getElementById('addGalleryForm').addEventListener('submit', async function(e) {
                            e.preventDefault();
                            const formData = new FormData();
                            formData.append('title', document.getElementById('galleryTitle').value);
                            formData.append('image', document.getElementById('galleryImage').files[0]);
                            try {
                                const response = await fetch('/create-gallery', {
                                    method: 'POST',
                                    headers: {
                                        'Authorization': `Bearer ${localStorage.getItem('token')}`
                                    },
                                    body: formData
                                });
                                if (!response.ok) throw new Error('Failed to add gallery item');
                                const newItem = await response.json();
                                galleryItems.unshift(newItem);
                                renderGalleryItems();
                                closeModal('addGalleryModal');
                                alert('Gallery item added successfully');
                            } catch (error) {
                                console.error('Error:', error);
                                alert('Error adding gallery item');
                            }
                        });

                        // Add Video Form
                        document.getElementById('addVideoForm').addEventListener('submit', async function(e) {
                            e.preventDefault();
                            const title = document.getElementById('videoTitle').value;
                            const youtubeLink = document.getElementById('youtubeLink').value;
                            try {
                                const response = await fetch('/videos', {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json',
                                        'Authorization': `Bearer ${localStorage.getItem('token')}`
                                    },
                                    body: JSON.stringify({ title, youtubeLink })
                                });
                                if (!response.ok) {
                                    const err = await response.json();
                                    throw new Error(err.error || 'Failed to add video');
                                }
                                const newVideo = await response.json();
                                videoItems.unshift(newVideo);
                                renderVideoItems();
                                closeModal('addVideoModal');
                                alert('Video added successfully');
                            } catch (error) {
                                console.error('Error:', error);
                                alert('Error adding video: ' + error.message);
                            }
                        });
                    }

                    // Confirm and delete gallery item
                    async function confirmDeleteGalleryItem(id) {
                        if (!confirm('Are you sure you want to delete this gallery item?')) return;
                        try {
                            const response = await fetch(`/delete-gallery/${id}`, {
                                method: 'DELETE',
                                headers: {
                                    'Authorization': `Bearer ${localStorage.getItem('token')}`
                                }
                            });
                            if (!response.ok) throw new Error('Failed to delete gallery item');
                            galleryItems = galleryItems.filter(item => item._id !== id);
                            renderGalleryItems();
                            alert('Gallery item deleted successfully');
                        } catch (error) {
                            console.error('Error:', error);
                            alert('Error deleting gallery item');
                        }
                    }

                    // Confirm and delete video item
                    async function confirmDeleteVideoItem(id) {
                        if (!confirm('Are you sure you want to delete this video?')) return;
                        try {
                            const response = await fetch(`/videos/${id}`, {
                                method: 'DELETE',
                                headers: {
                                    'Authorization': `Bearer ${localStorage.getItem('token')}`
                                }
                            });
                            if (!response.ok) throw new Error('Failed to delete video');
                            videoItems = videoItems.filter(item => item._id !== id);
                            renderVideoItems();
                            alert('Video deleted successfully');
                        } catch (error) {
                            console.error('Error:', error);
                            alert('Error deleting video');
                        }
                    }
                    </script>


                    <!-- /main-content -->
                </div>
                <!-- /section-content-right -->
            </div>
            <!-- /layout-wrap -->
        </div>
        <!-- /#page -->
    </div>
    <!-- /#wrapper -->

    <!-- Javascript -->
    <script src="admin-js/jquery.min.js"></script>
    <script src="admin-js/bootstrap.min.js"></script>
    <script src="admin-js/bootstrap-select.min.js"></script>
    <script src="admin-js/zoom.js"></script>
    <script src="admin-js/switcher.js"></script>
    <script defer src="admin-js/theme-settings.js"></script>
    <script defer src="admin-js/main.js"></script>

</body>

</html>