<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
  
    <title>JOANNA - Admin Blogs</title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="admin-css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="admin-css/animation.css">
    <link rel="stylesheet" type="text/css" href="admin-css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="admin-css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="admin-css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- Font -->
    <link rel="stylesheet" href="admin-font/fonts.css">

    <!-- Icon -->
    <link rel="stylesheet" href="admin-icon/style.css">

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="/images/joannalogo.png">
    <link rel="apple-touch-icon-precomposed" href="/images/joannalogo.png">
    <style>
        /* Ensure toggle switch is visible */
        .peer:checked~.peer-checked\:bg-blue-600 {
            background-color: #2563eb;
        }

        /* Fix icon alignment */
        .icon-edit,
        .icon-trash-2 {
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }

        /* Toggle switch styles */
        .toggle-checkbox:checked {
            right: 0;
            border-color: #3B82F6;
        }

        .toggle-checkbox:checked+.toggle-label {
            background-color: #3B82F6;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }

        .modal-content {
            background-color: #fff;
            margin: 10% auto;
            padding: 20px;
            border-radius: 8px;
            width: 500px;
            max-width: 90%;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
        }

        .close:hover {
            color: #000;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .form-group label {
            display: block;
            margin-bottom: 5px;
            font-weight: 500;
        }

        .form-group input,
        .form-group select {
            width: 100%;
            padding: 8px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }

        /* Icons styling */
        .icon-edit,
        .icon-trash-2 {
            vertical-align: middle;
            margin-right: 5px;
        }

        /* Image dimensions */
        .wg-table .w-40 img {
            width: 160px;
            height: 120px;
            object-fit: cover;
            border-radius: 4px;
        }

        #currentImagePreview img {
            width: 100%;
            height: 200px;
            object-fit: contain;
            border: 1px solid #eee;
            border-radius: 4px;
        }

        /* This is already included in the HTML classes above, but just in case */
        .toggle-switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

        .toggle-switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .toggle-slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            transition: .4s;
            border-radius: 34px;
        }

        .toggle-slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            transition: .4s;
            border-radius: 50%;
        }

        input:checked+.toggle-slider {
            background-color: #2196F3;
        }

        input:checked+.toggle-slider:before {
            transform: translateX(26px);
        }
    </style>
</head>

<body class="body">

    <!-- #wrapper -->
    <div id="wrapper">
        <!-- #page -->
        <div id="page" class="">
            <!-- layout-wrap -->
            <div class="layout-wrap loader-off">
                <!-- preload -->
                <div id="preload" class="preload-container">
                    <div class="preloading">
                        <span></span>
                    </div>
                </div>
                <!-- /preload -->
                <!-- section-menu-left -->
                <div class="section-menu-left">
                    <div class="box-logo">
                        <a href="/dashboard" id="site-logo-inner">
                            <img style="width:60px;" id="logo_header" alt="logo" src="/images/joannalogo.png"
                                data-light="/images/joannalogo.png" data-dark="/images/joannalogo.png">
                        </a>
                        <div class="button-show-hide">
                            <i class="icon-chevron-left"></i>
                        </div>
                    </div>
                    <div class="section-menu-left-wrap">
                        <div class="center">
                            <div class="center-item">
                                <ul>
                                    <li class="menu-item">
                                        <a href="/dashboard">
                                            <div class="icon">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M12.2652 3.57566C12.1187 3.42921 11.8813 3.42921 11.7348 3.57566L5.25 10.0605V19.8748C5.25 20.0819 5.41789 20.2498 5.625 20.2498H9V16.1248C9 15.0893 9.83947 14.2498 10.875 14.2498H13.125C14.1605 14.2498 15 15.0893 15 16.1248V20.2498H18.375C18.5821 20.2498 18.75 20.0819 18.75 19.8748V10.0605L12.2652 3.57566ZM20.25 11.5605L21.2197 12.5302C21.5126 12.8231 21.9874 12.8231 22.2803 12.5302C22.5732 12.2373 22.5732 11.7624 22.2803 11.4695L13.3258 2.51499C12.5936 1.78276 11.4064 1.78276 10.6742 2.515L1.71967 11.4695C1.42678 11.7624 1.42678 12.2373 1.71967 12.5302C2.01256 12.8231 2.48744 12.8231 2.78033 12.5302L3.75 11.5605V19.8748C3.75 20.9104 4.58947 21.7498 5.625 21.7498H18.375C19.4105 21.7498 20.25 20.9104 20.25 19.8748V11.5605ZM13.5 20.2498H10.5V16.1248C10.5 15.9177 10.6679 15.7498 10.875 15.7498H13.125C13.3321 15.7498 13.5 15.9177 13.5 16.1248V20.2498Z"
                                                        fill="#111111" />
                                                </svg>
                                            </div>
                                            <div class="text">Admin Dashboard</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/admin-packages" class="menu-item-button">
                                            <div class="icon"><i class="icon-file-plus"></i></div>
                                            <div class="text">Package Management</div>
                                        </a>
                                    
                                    </li>
                                    <li class="menu-item">
                                        <a href="/admin-category" class="menu-item-button">
                                            <div class="icon"><i class="icon-layers"></i></div>
                                            <div class="text">Category Management</div>
                                        </a>
                                    
                                    </li>
                                    <li class="menu-item">
                                        <a href="/admin-banner" class="menu-item-button">
                                            <div class="icon">
                                                <svg width="24" height="22" viewBox="0 0 22 18" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M0.5 1.875C0.5 0.839466 1.33947 0 2.375 0H19.625C20.6605 0 21.5 0.839466 21.5 1.875V3.375C21.5 4.29657 20.8351 5.06285 19.9589 5.22035L19.3733 15.1762C19.28 16.7619 17.9669 18 16.3785 18H5.62154C4.03311 18 2.71999 16.7619 2.62671 15.1762L2.04108 5.22035C1.16485 5.06285 0.5 4.29657 0.5 3.375V1.875ZM2.75659 3.75C2.75266 3.74997 2.74873 3.74997 2.74479 3.75H2.375C2.16789 3.75 2 3.58211 2 3.375V1.875C2 1.66789 2.16789 1.5 2.375 1.5H19.625C19.8321 1.5 20 1.66789 20 1.875V3.375C20 3.58211 19.8321 3.75 19.625 3.75H19.2552C19.2513 3.74997 19.2473 3.74997 19.2434 3.75H2.75659ZM3.54541 5.25L4.12412 15.0881C4.17076 15.8809 4.82732 16.5 5.62154 16.5H16.3785C17.1727 16.5 17.8292 15.8809 17.8759 15.0881L18.4546 5.25H3.54541ZM8.24976 8.25C8.24976 7.83579 8.58554 7.5 8.99976 7.5H12.9998C13.414 7.5 13.7498 7.83579 13.7498 8.25C13.7498 8.66421 13.414 9 12.9998 9H8.99976C8.58554 9 8.24976 8.66421 8.24976 8.25Z"
                                                        fill="#111111" />
                                                </svg>
                                            </div>
                                            <div class="text">Banner Management</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/admin-testimonials" class="menu-item-button">
                                            <div class="icon"><i class="fa fa-star-o"></i></div>
                                            <div class="text">Testimonials Management</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/admin-gallery" class="menu-item-button">
                                            <div class="icon"><i class="icon-image"></i></div>
                                            <div class="text">Gallery Management</div>
                                        </a>
                                    
                                    </li>
                                    <li class="menu-item active">
                                        <a href="/admin-blogs" class="menu-item-button">
                                            <div class="icon"><i class="icon-book-open"></i></div>
                                            <div class="text">Blogs Management</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/logout">
                                            <div class="icon">
                                                <svg width="24" height="22" viewBox="0 0 20 20" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M8.125 18.6875C8.125 18.903 8.0394 19.1097 7.88702 19.262C7.73465 19.4144 7.52799 19.5 7.3125 19.5H1.625C1.19402 19.5 0.780698 19.3288 0.475951 19.024C0.171205 18.7193 0 18.306 0 17.875V1.625C0 1.19402 0.171205 0.780698 0.475951 0.475951C0.780698 0.171205 1.19402 0 1.625 0H7.3125C7.52799 0 7.73465 0.0856026 7.88702 0.237976C8.0394 0.390349 8.125 0.597012 8.125 0.8125C8.125 1.02799 8.0394 1.23465 7.88702 1.38702C7.73465 1.5394 7.52799 1.625 7.3125 1.625H1.625V17.875H7.3125C7.52799 17.875 7.73465 17.9606 7.88702 18.113C8.0394 18.2653 8.125 18.472 8.125 18.6875ZM19.2623 9.17516L15.1998 5.11266C15.0474 4.9602 14.8406 4.87455 14.625 4.87455C14.4094 4.87455 14.2026 4.9602 14.0502 5.11266C13.8977 5.26511 13.812 5.47189 13.812 5.6875C13.812 5.90311 13.8977 6.10989 14.0502 6.26234L16.7263 8.9375H7.3125C7.09701 8.9375 6.89035 9.0231 6.73798 9.17548C6.5856 9.32785 6.5 9.53451 6.5 9.75C6.5 9.96549 6.5856 10.1722 6.73798 10.3245C6.89035 10.4769 7.09701 10.5625 7.3125 10.5625H16.7263L14.0502 13.2377C13.8977 13.3901 13.812 13.5969 13.812 13.8125C13.812 14.0281 13.8977 14.2349 14.0502 14.3873C14.2026 14.5398 14.4094 14.6255 14.625 14.6255C14.8406 14.6255 15.0474 14.5398 15.1998 14.3873L19.2623 10.3248C19.3379 10.2494 19.3978 10.1598 19.4387 10.0611C19.4796 9.9625 19.5006 9.85678 19.5006 9.75C19.5006 9.64322 19.4796 9.5375 19.4387 9.43886C19.3978 9.34023 19.3379 9.25062 19.2623 9.17516Z"
                                                        fill="#111111" />
                                                </svg>
                                            </div>
                                            <div class="text">Log out</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /section-menu-left -->
                <!-- section-content-right -->
                <div class="section-content-right">
                    <!-- header-dashboard -->
                    <div class="header-dashboard">
                        <div class="wrap">
                            <div class="header-left">
                                <a href="/dashboard">
                                    <img style="width: 50px;" id="logo_header_mobile" alt=""
                                        src="/images/joannalogo.png" data-light="/images/joannalogo.png"
                                        data-dark="/images/joannalogo.png">
                                </a>
                                <div class="button-show-hide">
                                    <i class="icon-chevron-left"></i>
                                </div>
                            </div>
                            <div class="header-grid">
                                <div class="header-item button-dark-light">
                                    <i class="icon-moon"></i>
                                </div>


                                <div class="header-item button-zoom-maximize">
                                    <div class="">
                                        <i class="icon-maximize"></i>
                                    </div>
                                </div>
                                <div class="popup-wrap user type-header">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                            id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="header-user wg-user">
                                                <span class="image">
                                                    <img src="admin-images/avatar/user-1.png" alt="">
                                                </span>
                                                <span class="flex flex-column">
                                                    <span class="body-text text-main-dark">JOANNA</span>
                                                    <span class="text-tiny">Admin</span>
                                                </span>
                                            </span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end has-content"
                                            aria-labelledby="dropdownMenuButton3">

                                            <li>
                                                <a href="#" class="user-item">
                                                    <div class="icon">
                                                        <i class="icon-headphones"></i>
                                                    </div>
                                                    <div class="body-title-2">Support</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/logout" class="user-item">
                                                    <div class="icon">
                                                        <i class="icon-log-out"></i>
                                                    </div>
                                                    <div class="body-title-2">Log out</div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /header-dashboard -->
                    <!-- main-content -->
                    <!-- admin-blogs.ejs -->
                    <div class="main-content">
                        <div class="main-content-inner">
                            <div class="main-content-wrap">
                                <div class="flex items-center flex-wrap justify-between gap20 mb-30">
                                    <h3>Blog Management</h3>
                                    <ul class="breadcrumbs flex items-center flex-wrap justify-start gap10">
                                        <li><a href="/dashboard">
                                                <div class="text-tiny">Dashboard</div>
                                            </a></li>
                                        <li><i class="icon-chevron-right"></i></li>
                                        <li>
                                            <div class="text-tiny">Blogs</div>
                                        </li>
                                    </ul>
                                </div>

                                <!-- Blog Management -->
                                <div class="wg-box">
                                    <div class="flex items-center justify-between gap10 flex-wrap">
                                        <div class="flex gap10">
                                            <a class="tf-button style-1 w208" href="#" onclick="showAddBlogModal()">
                                                <i class="icon-plus"></i>Add Blog
                                            </a>
                                        </div>
                                    </div>

                                    <div id="blog-list" style="display: grid; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); gap: 20px; padding: 20px;">
                                        <!-- Blogs will be injected here dynamically -->
                                    </div>
                                </div>

                                <!-- Add Blog Modal -->
                                <div id="addBlogModal" class="modal">
                                    <div class="modal-content">
                                        <span class="close" onclick="closeModal('addBlogModal')">&times;</span>
                                        <h4>Add New Blog</h4>
                                        <form id="addBlogForm" enctype="multipart/form-data">
                                            <div class="form-group">
                                                <label for="blogTitle">Title*</label>
                                                <input type="text" id="blogTitle" name="title" required class="w-full">
                                            </div>
                                            <div class="form-group">
                                                <label for="blogMetaTitle">Meta Title*</label>
                                                <input type="text" id="blogMetaTitle" name="metaTitle" required
                                                    class="w-full">
                                            </div>
                                            <div class="form-group">
                                                <label for="blogMetaDescription">Meta Description*</label>
                                                <textarea id="blogMetaDescription" name="metaDescription" required
                                                    class="w-full" rows="2"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="blogMetaKeywords">Meta Keywords (comma separated)*</label>
                                                <input type="text" id="blogMetaKeywords" name="metaKeywords" required
                                                    class="w-full">
                                            </div>
                                            <div class="form-group">
                                                <label for="blogContent">Content*</label>
                                                <textarea id="blogContent" name="content" required class="w-full"
                                                    rows="5"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="blogAuthor">Author*</label>
                                                <input type="text" id="blogAuthor" name="author" required
                                                    class="w-full">
                                            </div>
                                            <div class="form-group">
                                                <label for="blogImage">Image*</label>
                                                <input type="file" id="blogImage" name="image" accept="image/*"
                                                    required>
                                                <div class="text-tiny text-gray-500 mt-1">Only JPEG, JPG, PNG, WEBP
                                                    allowed (Max 5MB)</div>
                                            </div>
                                            <button type="submit" class="tf-button style-1">Create Blog</button>
                                        </form>
                                    </div>
                                </div>

                                <!-- Edit Blog Modal -->
                                <div id="editBlogModal" class="modal">
                                    <div class="modal-content">
                                        <span class="close" onclick="closeModal('editBlogModal')">&times;</span>
                                        <h4>Edit Blog</h4>
                                        <form id="editBlogForm" enctype="multipart/form-data">
                                            <input type="hidden" id="editBlogId">
                                            <div class="form-group">
                                                <label for="editBlogTitle">Title*</label>
                                                <input type="text" id="editBlogTitle" name="title" required
                                                    class="w-full">
                                            </div>
                                            <div class="form-group">
                                                <label for="editBlogMetaTitle">Meta Title*</label>
                                                <input type="text" id="editBlogMetaTitle" name="metaTitle" required
                                                    class="w-full">
                                            </div>
                                            <div class="form-group">
                                                <label for="editBlogMetaDescription">Meta Description*</label>
                                                <textarea id="editBlogMetaDescription" name="metaDescription" required
                                                    class="w-full" rows="2"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="editBlogMetaKeywords">Meta Keywords (comma
                                                    separated)*</label>
                                                <input type="text" id="editBlogMetaKeywords" name="metaKeywords"
                                                    required class="w-full">
                                            </div>
                                            <div class="form-group">
                                                <label for="editBlogContent">Content*</label>
                                                <textarea id="editBlogContent" name="content" required class="w-full"
                                                    rows="5"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="editBlogAuthor">Author*</label>
                                                <input type="text" id="editBlogAuthor" name="author" required
                                                    class="w-full">
                                            </div>
                                            <div class="form-group">
                                                <label for="editBlogImage">Image</label>
                                                <input type="file" id="editBlogImage" name="image" accept="image/*">
                                                <div class="text-tiny text-gray-500 mt-1">Leave empty to keep current
                                                    image</div>
                                                <div id="currentBlogImagePreview" class="mt-2"></div>
                                            </div>
                                            <button type="submit" class="tf-button style-1">Update Blog</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script>
                        // Global variables
                        let blogs = [];

                        // DOM Ready
                        document.addEventListener('DOMContentLoaded', function () {
                            fetchBlogs();
                            setupBlogFormHandlers();
                        });

                        // Fetch all blogs
                        async function fetchBlogs() {
                            try {
                                const response = await fetch('/get-admin-blogs');
                                if (!response.ok) throw new Error('Failed to fetch blogs');

                                const responseData = await response.text();
                                try {
                                    blogs = JSON.parse(responseData);
                                } catch (error) {
                                    throw new Error('Invalid JSON response');
                                }
                                renderBlogs();
                            } catch (error) {
                                console.error('Error loading blogs:', error);
                                alert('Error loading blogs');
                            }
                        }

                        // Render blogs to the cards
                        function renderBlogs() {
                            const blogList = document.getElementById('blog-list');
                            blogList.innerHTML = '';

                            blogs.forEach(blog => {
                                const blogCard = document.createElement('div');
                                blogCard.className = 'card';
                                blogCard.innerHTML = `
            <div class="card-image" style="text-align:center;">
                <img src="${blog.imageUrl}" alt="${blog.title}" style="width:200px; height:150px; object-fit:cover; border-radius:5px;">
            </div>
            <div class="card-content" style="padding:10px;">
                <h4 class="card-title" style="margin:0; font-size:16px; font-weight:bold;">${blog.title}</h4>
                <p class="card-meta" style="margin:5px 0; color:gray;">${blog.metaTitle}</p>
                <p class="card-author" style="margin:5px 0; color:darkgray;">${blog.author}</p>
            </div>
            <div class="card-actions" style="display:flex; justify-content:space-between; padding:10px;">
                <button style="background-color:#007bff; color:white; border:none; padding:5px 10px; border-radius:3px; cursor:pointer;" onclick="showEditBlogModal('${blog._id}')">
                    <i class="icon-edit"></i> Edit
                </button>
                <button style="background-color:#dc3545; color:white; border:none; padding:5px 10px; border-radius:3px; cursor:pointer;" onclick="confirmDeleteBlog('${blog._id}')">
                    <i class="icon-trash-2"></i> Delete
                </button>
            </div>
        `;
                                blogList.appendChild(blogCard);
                            });
                        }
                        // Show Add Blog Modal
                        function showAddBlogModal() {
                            document.getElementById('addBlogForm').reset();
                            document.getElementById('addBlogModal').style.display = 'block';
                        }

                        // Show Edit Blog Modal
                        async function showEditBlogModal(id) {
                            const blog = blogs.find(b => b._id === id);
                            if (!blog) return;

                            document.getElementById('editBlogId').value = blog._id;
                            document.getElementById('editBlogTitle').value = blog.title;
                            document.getElementById('editBlogMetaTitle').value = blog.metaTitle;
                            document.getElementById('editBlogMetaDescription').value = blog.metaDescription;
                            document.getElementById('editBlogMetaKeywords').value = blog.metaKeywords.join(',');
                            document.getElementById('editBlogContent').value = blog.content;
                            document.getElementById('editBlogAuthor').value = blog.author;

                            const preview = document.getElementById('currentBlogImagePreview');
                            preview.innerHTML = `
        <p class="text-tiny">Current Image:</p>
        <img src="${blog.imageUrl}" alt="${blog.title}" class="w-full h-32 object-contain mt-1">
    `;

                            document.getElementById('editBlogModal').style.display = 'block';
                        }

                        // Close any modal
                        function closeModal(modalId) {
                            document.getElementById(modalId).style.display = 'none';
                        }

                        // Setup form handlers
                        function setupBlogFormHandlers() {
                            // Add Blog Form
                            document.getElementById('addBlogForm').addEventListener('submit', async function (e) {
                                e.preventDefault();

                                const formData = new FormData();
                                formData.append('title', document.getElementById('blogTitle').value);
                                formData.append('metaTitle', document.getElementById('blogMetaTitle').value);
                                formData.append('metaDescription', document.getElementById('blogMetaDescription').value);
                                formData.append('metaKeywords', document.getElementById('blogMetaKeywords').value);
                                formData.append('content', document.getElementById('blogContent').value);
                                formData.append('author', document.getElementById('blogAuthor').value);
                                formData.append('image', document.getElementById('blogImage').files[0]);

                                try {
                                    const response = await fetch('/admin-blogs', {
                                        method: 'POST',
                                        body: formData
                                    });

                                    if (!response.ok) throw new Error('Failed to add blog');

                                    const newBlog = await response.json();
                                    blogs.unshift(newBlog);
                                    renderBlogs();
                                    closeModal('addBlogModal');
                                    alert('Blog added successfully');
                                    location.reload();
                                } catch (error) {
                                    console.error('Error:', error);
                                    alert('Error adding blog');
                                }
                            });

                            // Edit Blog Form
                            document.getElementById('editBlogForm').addEventListener('submit', async function (e) {
                                e.preventDefault();

                                const id = document.getElementById('editBlogId').value;
                                const formData = new FormData();
                                formData.append('title', document.getElementById('editBlogTitle').value);
                                formData.append('metaTitle', document.getElementById('editBlogMetaTitle').value);
                                formData.append('metaDescription', document.getElementById('editBlogMetaDescription').value);
                                formData.append('metaKeywords', document.getElementById('editBlogMetaKeywords').value);
                                formData.append('content', document.getElementById('editBlogContent').value);
                                formData.append('author', document.getElementById('editBlogAuthor').value);

                                const imageFile = document.getElementById('editBlogImage').files[0];
                                if (imageFile) {
                                    formData.append('image', imageFile);
                                }

                                try {
                                    const response = await fetch(`/admin-blogs/${id}`, {
                                        method: 'PUT',
                                        body: formData
                                    });

                                    if (!response.ok) throw new Error('Failed to update blog');

                                    const updatedBlog = await response.json();
                                    const index = blogs.findIndex(b => b._id === id);
                                    if (index !== -1) {
                                        blogs[index] = updatedBlog;
                                    }
                                    renderBlogs();
                                    closeModal('editBlogModal');
                                    alert('Blog updated successfully');
                                    location.reload();
                                } catch (error) {
                                    console.error('Error:', error);
                                    alert('Error updating blog');
                                }
                            });
                        }

                        // Confirm and delete blog
                        async function confirmDeleteBlog(id) {
                            if (!confirm('Are you sure you want to delete this blog?')) return;

                            try {
                                const response = await fetch(`/admin-blogs/${id}`, {
                                    method: 'DELETE'
                                });

                                if (!response.ok) throw new Error('Failed to delete blog');

                                blogs = blogs.filter(blog => blog._id !== id);
                                renderBlogs();
                                alert('Blog deleted successfully');
                            } catch (error) {
                                console.error('Error:', error);
                                alert('Error deleting blog');
                            }
                        }
                    </script>
                    <!-- /main-content -->
                </div>
                <!-- /section-content-right -->
            </div>
            <!-- /layout-wrap -->
        </div>
        <!-- /#page -->
    </div>
    <!-- /#wrapper -->
    <!-- Javascript -->
    <script src="admin-js/jquery.min.js"></script>
    <script src="admin-js/bootstrap.min.js"></script>
    <script src="admin-js/bootstrap-select.min.js"></script>
    <script src="admin-js/zoom.js"></script>
    <script src="admin-js/switcher.js"></script>
    <script defer src="admin-js/theme-settings.js"></script>
    <script defer src="admin-js/main.js"></script>

</body>

</html>