<!DOCTYPE html>
<html lang="en" class="light scroll-smooth" dir="ltr">
<head>
        <meta charset="UTF-8">
        <title>Joanna Holidays | 404</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="Tour & Travels Agency Tailwind CSS Template" name="description">
        <meta content="Tour, Travels, agency, business, corporate, tour packages, journey, trip, tailwind css, Admin, Landing" name="keywords">
        <meta name="author" content="Shreethemes">
        <meta name="website" content="https://shreethemes.in/">
        <meta name="email" content="support@shreethemes.in">
        <meta name="version" content="1.5.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- favicon -->
        <link rel="shortcut icon" href="/images/joannalogo.png">

        <!-- Css -->
        <!-- Main Css -->
        <link href="/libs/%40mdi/font/css/materialdesignicons.min.css" rel="stylesheet" type="text/css">
        <link href="/css/tailwind.min.css" rel="stylesheet" type="text/css">
                <link href="/css/style.css" rel="stylesheet">

    </head>
    
    <body class="dark:bg-slate-900">
        <!-- Loader Start -->
        <!-- <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div> -->
        <!-- Loader End -->
        <section class="relative bg-red-500/5">
            <div class="container-fluid relative">
                <div class="grid grid-cols-1">
                    <div class="flex flex-col min-h-screen justify-center md:px-10 py-10 px-4">
                        <div class="text-center">
                            <a href="/"><img src="/images/joannalogo.png" class="mx-auto h-10" alt=""></a>
                        </div>
                        <div class="title-heading text-center my-auto">
                            <h1 class="mt-6 md:text-4xl text-3xl font-bold">This location will be added soon!</h1>
                            <p class="text-slate-400 mt-4">Thanks for visiting!</p>
                        </div>
                        <div class="text-center mt-8">
                            <p class="mb-0 text-slate-400">© <script>document.write(new Date().getFullYear())</script> Joanna Holidays. All rights reserved.</p>
                        </div>
                    </div>
                </div><!--end grid-->
            </div><!--end container-->
        </section>

        <div class="fixed bottom-3 end-3 z-10">
            <a href="#" class="back-button size-8 inline-flex items-center justify-center tracking-wide border align-middle duration-500 text-base text-center bg-red-500/10 hover:bg-red-500 text-red-500 hover:text-white rounded-md"><i data-feather="arrow-left" class="size-4"></i></a>
        </div>
        
        <!-- Back to top -->
        <a href="#" onclick="topFunction()" id="back-to-top" class="back-to-top fixed hidden text-lg rounded-md z-10 bottom-5 end-5 size-8 text-center bg-red-500/10 hover:bg-red-500 text-red-500 hover:text-white justify-center items-center"><i class="mdi mdi-arrow-up"></i></a>
        <!-- Back to top -->
          <!-- mobile navbar -->
          <nav class="custom-nav__bottom-bar">
            <!-- Home -->
           <a href="/" class="custom-nav__menu-item " id="homeNavItem">
                <svg class="custom-nav__icon" viewBox="0 0 24 24">
                    <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                    <polyline points="9 22 9 12 15 12 15 22"></polyline>
                </svg>
                <span class="custom-nav__label">Home</span>
            </a>
        
            <!-- About Us -->
            <a href="/about" class="custom-nav__menu-item   " id="aboutNavItem">
                <svg class="custom-nav__icon" viewBox="0 0 24 24">
                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                    <circle cx="12" cy="7" r="4"></circle>
                </svg>
                <span class="custom-nav__label">About Us</span>
            </a>
        
            <!-- Services -->
            <a href="/packages" class="custom-nav__menu-item " id="servicesNavItem">
                <svg class="custom-nav__icon" viewBox="0 0 24 24">
                    <rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect>
                    <path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path>
                </svg>
                <span class="custom-nav__label">Packages</span>
            </a>
        
            <!-- Blog -->
            <a href="/blogs" class="custom-nav__menu-item " id="blogNavItem">
                <svg class="custom-nav__icon" viewBox="0 0 24 24">
                    <path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"></path>
                    <path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"></path>
                </svg>
                <span class="custom-nav__label">Blog</span>
            </a>
        
            <!-- Contact -->
            <a href="/contact" class="custom-nav__menu-item" id="contactNavItem">
                <svg class="custom-nav__icon" viewBox="0 0 24 24">
                    <path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path>
                </svg>
                <span class="custom-nav__label">Contact</span>
            </a>
        </nav>
        <!-- JAVASCRIPTS -->
        <script src="/libs/feather-icons/feather.min.js"></script>
        <script src="/js/plugins.init.js"></script>
        <script src="/js/app.js"></script>
        <!-- JAVASCRIPTS -->
    </body>
</html>